In [142]:
import pandas as pd
import os
import uuid

In [143]:
data_path_r3 = 'D:\\Projects\\ibd_data\\R3_1646_BINION_DATA_2020_05_12\\'
#data_path_registry = 'D:\\Projects\\ibd_data\\2020 from epic care team\\'
data_path_registry = 'C:\\Users\\dmb72\\Box Sync\\Research\\IBD Research\\Inflammatory Bowel Disease DOD Grant\\data\\De-identified with linkers 05-15-2020\\'


# Demographic information

## UPMC demographic data

In [13]:

demo_file = 'R3_1646_BINION_DEMOGRAPHICS_2020_05_12.csv'
df_pat = pd.read_csv(data_path_r3 + demo_file)
df_pat['IS_ALIVE'] = pd.isnull(df_pat['DEATH_DATE'])
df_pat = df_pat[['STUDY_ID','BIRTH_YEAR','GENDER','IS_ALIVE']]
df_pat.columns = ['AUTO_ID','BIRTH_YEAR','GENDER','IS_ALIVE']
df_pat['DATA_SOURCE'] = 'R3'
df_pat['MARITAL STATUS'] = 'Unknown'
df_pat['RACE'] = 'Unknown'
df_pat['ETHNIC_GROUP'] = 'Unknown'
df_pat['EMPLOYMENT_STATUS'] = 'Unknown'
df_pat.head()

,AUTO_ID,BIRTH_YEAR,GENDER,IS_ALIVE,DATA_SOURCE,MARITAL STATUS,RACE,ETHNIC_GROUP,EMPLOYMENT_STATUS
0,6999994666,1958,MALE,True,R3,Unknown,Unknown,Unknown,Unknown
1,6999993266,1928,FEMALE,False,R3,Unknown,Unknown,Unknown,Unknown
2,6999997423,1958,FEMALE,True,R3,Unknown,Unknown,Unknown,Unknown
3,6999947820,1954,FEMALE,True,R3,Unknown,Unknown,Unknown,Unknown
4,6999947304,1988,MALE,True,R3,Unknown,Unknown,Unknown,Unknown

## Registry demographic data

In [14]:

df_pat_reg = pd.read_excel(data_path_registry + 'deid_patient_master_2020.xlsx')
#df_pat_reg.columns
df_pat_master = df_pat_reg[['AUTO_ID', 'BIRTH_YEAR', 'GENDER', 'PATIENT_STATUS',
       'MARITAL STATUS', 'RACE', 'ETHNIC_GROUP', 'EMPLOYMENT_STATUS']]

df_pat_master['IS_ALIVE'] = df_pat_master['PATIENT_STATUS'].map({'Alive': True, 'Deceased': False})
df_pat_master['DATA_SOURCE'] = 'REGISTRY'

df_pat_master = df_pat_master[['AUTO_ID', 'BIRTH_YEAR', 'GENDER', 'IS_ALIVE', 'DATA_SOURCE',
       'MARITAL STATUS', 'RACE', 'ETHNIC_GROUP', 'EMPLOYMENT_STATUS']]

df_pat_master.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,AUTO_ID,BIRTH_YEAR,GENDER,IS_ALIVE,DATA_SOURCE,MARITAL STATUS,RACE,ETHNIC_GROUP,EMPLOYMENT_STATUS
0,0,1963,M,True,REGISTRY,Married,White,Not Hispanic or Latino,Full Time
1,1,1952,M,True,REGISTRY,Married,White,Not Hispanic or Latino,Full Time
2,2,1987,M,True,REGISTRY,Single,White,Not Hispanic or Latino,Not Employed
3,3,1984,F,True,REGISTRY,Married,White,Not Hispanic or Latino,Not Employed
4,4,1993,M,True,REGISTRY,Single,Filipino,Not Hispanic or Latino,Not Employed

In [15]:
print(df_pat.shape)
print(df_pat_master.shape)

(2020, 9)
(4215, 9)

In [16]:
df_pat_master = pd.concat([df_pat_master, df_pat], axis = 0)
print(df_pat_master.shape)

(6235, 9)

In [18]:
df_pat_master.to_excel(data_path_registry + 'patients_merged.xlsx')


# Labs data

## R3 lab data

In [19]:
lab_file = 'R3_1646_BINION_LAB_RESULTS_2020_05_12.csv'
df_labs = pd.read_csv(data_path_r3 + lab_file)
df_labs.head()

,STUDY_ID,VISIT_ID,ORDER_PROC_ID,RESULT_DATE,COMPONENT_NAME,ORD_VALUE,ORD_NUM_VALUE,REFERENCE_UNIT,REFERENCE_LOW,REFERENCE_HIGH,RESULT_FLAG,LAB_RESULT_STATUS,SPECIMEN_COLLECTED_DATE,SPECIMEN_RECEIVED_DATE,SPECIMEN_TYPE,SPECIMEN_SOURCE
0,6999997423,351489117,203602100,03/27/2015,SPECIMEN DESCRIPTION,Stool,NaN,NaN,NaN,NaN,NaN,FINAL,03/25/2015,03/25/2015,STOOL,NaN
1,6999997423,351489117,203602100,03/27/2015,SPECIAL REQUESTS,None,NaN,NaN,NaN,NaN,NaN,FINAL,03/25/2015,03/25/2015,STOOL,NaN
2,6999997423,351489117,203602100,03/27/2015,CULTURE,NaN,NaN,NaN,NaN,NaN,NaN,FINAL,03/25/2015,03/25/2015,STOOL,NaN
3,6999997423,351489117,203602100,03/27/2015,REPORT,Final Result 03/27/2015,NaN,NaN,NaN,NaN,NaN,FINAL,03/25/2015,03/25/2015,STOOL,NaN
4,6999997423,351489117,114670251,03/23/2015,LIPASE,164,164.0,U/L,50,393,NaN,FINAL,03/23/2015,03/23/2015,NaN,NaN

In [20]:
df_labs.columns
df_labs = df_labs[['STUDY_ID', 'RESULT_DATE', 'ORDER_PROC_ID', 
       'COMPONENT_NAME', 'ORD_VALUE', 'ORD_NUM_VALUE', 'REFERENCE_UNIT',
       'REFERENCE_LOW', 'REFERENCE_HIGH', 'RESULT_FLAG']]
df_labs['GROUP'] = ''
df_labs['DATA_SOURCE'] = 'R3'
df_labs.columns = ['AUTO_ID', 'RESULT_DATE', 'ORDER_PROC_ID', 
       'COMPONENT_NAME', 'ORD_VALUE', 'ORD_NUM_VALUE', 'REFERENCE_UNIT',
       'REFERENCE_LOW', 'REFERENCE_HIGH', 'RESULT_FLAG', 'GROUP', 'DATA_SOURCE']

In [21]:
from dictionaries import labs_dictionary

# Select only those labs that are related to IBD
ibd_labs = list(labs_dictionary.labs_dict.keys())
df_labs = df_labs[df_labs['COMPONENT_NAME'].isin(ibd_labs)]
df_labs.reset_index()
df_labs.shape

(117712, 12)

In [22]:
def update_lab_group(lab_comp_name, proc_name):
    if len(labs_dictionary.labs_dict[lab_comp_name].proc_names) == 0:
        return labs_dictionary.labs_dict[lab_comp_name].group
    else:
        if proc_name in labs_dictionary.labs_dict[lab_comp_name].proc_names:
            return labs_dictionary.labs_dict[lab_comp_name].group
    return ''

In [23]:
df_labs['GROUP'] = df_labs.apply(lambda x: update_lab_group(x['COMPONENT_NAME'], x['COMPONENT_NAME']), axis=1)

## Registry lab data

In [24]:
lab_file_reg = 'labs_filtered.xlsx'

df_labs_registry = pd.read_excel(data_path_registry + lab_file_reg)
df_labs_registry.head()

,AUTO_ID,ORDER_DATE,PROC_CODE,PROC_NAME,ORDER_STATUS,CPT_CODE,LAB_COMP_ID,LAB_COMP_NAME,RESULT_DATE,ORD_VALUE,ORD_NUM_VALUE,REF_LOW,REF_HIGH,REF_NORMAL_VALS,REF_UNIT,RESULT_FLAG,GROUP
2,0,2010-08-12 00:00:00,8502502,CBC & DIFF INC PLATELET,Completed,85025,74,ABS EOSINOPHILS,2010-08-12 00:00:00,0.00,0.000,0.00,0.40,NaN,X10E+09/L,NaN,eos
4,0,2010-08-12 00:00:00,8502502,CBC & DIFF INC PLATELET,Completed,85025,72,ABS MONOCYTES,2010-08-12 00:00:00,0.50,0.500,0.30,0.90,NaN,X10E+09/L,NaN,monocytes
7,0,2010-08-12 00:00:00,8007602,HEPATIC FUNCTION PANEL,Completed,HFPA,20,ALBUMIN,2010-08-12 00:00:00,2.9,2.900,3.4,5.0,NaN,g/dL,Low,albumin
20,0,2010-08-12 00:00:00,8614001,CRP QUANTITATION,Completed,86140,530,CRP QUANTITATION,2010-08-12 00:00:00,10.085,10.085,<0.748,NaN,NaN,mg/dL,High,crp
23,0,2010-08-12 00:00:00,8502502,CBC & DIFF INC PLATELET,Completed,85025,73,EOSINOPHILS,2010-08-12 00:00:00,0,0.000,0,6,NaN,%,NaN,eos

In [25]:
df_labs_registry.columns
df_labs_registry = df_labs_registry[['AUTO_ID', 'RESULT_DATE', 'LAB_COMP_ID', 'LAB_COMP_NAME', 'ORD_VALUE',
       'ORD_NUM_VALUE', 'REF_UNIT', 'REF_LOW', 'REF_HIGH', 'RESULT_FLAG', 'GROUP']]

df_labs_registry['DATA_SOURCE'] = 'REGISTRY'

df_labs_registry.columns = ['AUTO_ID', 'RESULT_DATE', 'ORDER_PROC_ID', 
       'COMPONENT_NAME', 'ORD_VALUE', 'ORD_NUM_VALUE', 'REFERENCE_UNIT',
       'REFERENCE_LOW', 'REFERENCE_HIGH', 'RESULT_FLAG', 'GROUP', 'DATA_SOURCE']

In [26]:
print(df_labs.shape)
print(df_labs_registry.shape)

(117712, 12)
(423780, 12)

In [27]:
df_labs.reset_index(drop=True, inplace=True)
df_labs_registry.reset_index(drop=True, inplace=True)

In [28]:
# Concatenate the registry and the R3 lab datasets
df_labs_master = pd.concat([df_labs, df_labs_registry], axis=0)
df_labs_master.shape

(541492, 12)

In [29]:
# Save filtered & merged labs to Excel
df_labs_master.to_excel(data_path_registry + 'labs_merged.xlsx')

# Medication data

In [31]:
# UPMC medication data
med_file_orders = 'R3_1646_BINION_MED_ORDERS_2020_05_12.csv'
med_file_fills = 'R3_1646_BINION_MED_FILLS_2020_05_12.csv'
med_file_dispenses = 'R3_1646_BINION_MED_DISPENSES_2020_05_12.csv'

df_meds_r3 = pd.read_csv(data_path_r3 + med_file_orders)
df_meds_r3 = df_meds_r3[['STUDY_ID', 'MED_ORDER_ID', 'MEDICATION_NAME', 'SIMPLE_GENERIC', 'ORDER_DATE', 'START_DATE', 'END_DATE', 'PHARM_CLASS']]
df_meds_r3['GROUP'] = 'unknown'
df_meds_r3.columns = ['AUTO_ID', 'ORDER_ID', 'MED_NAME', 'SIMPLE_GENERIC_NAME', 'ORDERING_DATE', 'START_DATE', 'END_DATE', 'PHARM_CLASS', 'GROUP']
df_meds_r3.head()

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,AUTO_ID,ORDER_ID,MED_NAME,SIMPLE_GENERIC_NAME,ORDERING_DATE,START_DATE,END_DATE,PHARM_CLASS,GROUP
0,6999994666,367023442,LISINOPRIL 10 MG TABLET,LISINOPRIL,08/13/2018,08/13/2018,NaN,"ANTIHYPERTENSIVES, ACE INHIBITORS",unknown
1,6999994666,367023441,LISINOPRIL 5 MG TABLET,LISINOPRIL,08/13/2018,08/13/2018,NaN,"ANTIHYPERTENSIVES, ACE INHIBITORS",unknown
2,6999994666,367023443,LEVOTHYROXINE 100 MCG TABLET,LEVOTHYROXINE SODIUM,08/13/2018,08/13/2018,NaN,THYROID HORMONES,unknown
3,6999994666,367023438,VARICELLA-ZOSTER GLYCOE VACC-AS01B ADJ(PF) 50 ...,VARICELLA-ZOSTER GE/AS01B/PF,08/13/2018,08/13/2018,08/13/2018,VIRAL/TUMORIGENIC VACCINES,unknown
4,6999994666,146936464,SIMVASTATIN 20 MG TABLET,SIMVASTATIN,01/16/2014,01/16/2014,04/25/2014,ANTIHYPERLIPIDEMIC - HMG COA REDUCTASE INHIBITORS,unknown

In [33]:
from dictionaries import meds_dictionary

# Select only those meds that are related to IBD
ibd_meds = list(meds_dictionary.meds_dict.keys())
df_meds_r3 = df_meds_r3[df_meds_r3['SIMPLE_GENERIC_NAME'].isin(ibd_meds)]
df_meds_r3.reset_index()
df_meds_r3.shape

(13598, 9)

In [34]:
def update_med_group(generic_name, med_name):
    if len(meds_dictionary.meds_dict[generic_name].med_generic_name) == 0:
        return meds_dictionary.meds_dict[generic_name].group
    else:
        if med_name in meds_dictionary.meds_dict[generic_name].med_names:
             return meds_dictionary.meds_dict[generic_name].group
    return ''

In [36]:
df_meds_r3['GROUP'] = df_meds_r3.apply(lambda x: update_med_group(x['SIMPLE_GENERIC_NAME'], x['MED_NAME']), axis=1)

In [37]:
# Registry medication data.

df_meds_registry = pd.read_excel(data_path_registry + 'filtered_meds.xlsx')
df_meds_registry = df_meds_registry[['AUTO_ID', 'ORDER_ID', 'MED_NAME', 'SIMPLE_GENERIC_NAME', 'ORDERING_DATE', 'START_DATE', 'END_DATE', 'PHARM_CLASS', 'GROUP']]
df_meds_registry.head()

,AUTO_ID,ORDER_ID,MED_NAME,SIMPLE_GENERIC_NAME,ORDERING_DATE,START_DATE,END_DATE,PHARM_CLASS,GROUP
0,0,41818775,AZATHIOPRINE 50 MG TABLET,AZATHIOPRINE,2010-08-12 00:00:00,NaN,2010-08-20 00:00:00,IMMUNOSUPPRESSIVES,NaN
2,0,41818777,"MESALAMINE 400 MG TABLET,DELAYED RELEASE",MESALAMINE,2010-08-12 00:00:00,NaN,2011-04-07 00:00:00,"DRUG TX-CHRONIC INFLAM. COLON DX,5-AMINOSALICYLAT",NaN
4,0,41818779,MESALAMINE RECT,MESALAMINE,2010-08-12 00:00:00,NaN,2011-04-07 00:00:00,"CHRONIC INFLAM. COLON DX, 5-A-SALICYLAT,RECTAL TX",NaN
9,0,54197256,PREDNISONE 20 MG TABLET,PREDNISONE,2010-08-12 00:00:00,2010-08-12 00:00:00,2011-04-07 00:00:00,GLUCOCORTICOIDS,NaN
10,0,54424224,AZATHIOPRINE 50 MG TABLET,AZATHIOPRINE,2010-08-20 00:00:00,2010-08-20 00:00:00,2011-01-07 00:00:00,IMMUNOSUPPRESSIVES,NaN

In [38]:
# Save filtered & merged labs to Excel
df_meds_master = pd.concat([df_meds_r3, df_meds_registry])
df_meds_master.to_excel(data_path_registry + 'meds_merged.xlsx')

## Encounter data

* COLON RECTAL DDC HBC
* GAS HBC OAKLAND DDC PH
* GASTRO DDC
* GASTRO IBD MED HOME
* GI SURG DDC HBC

### R3 encounter data

In [96]:
enc_file_r3 = 'R3_1646_BINION_ENCOUNTERS_2020_05_12.csv'
df_enc_r3 = pd.read_csv(data_path_r3 + enc_file_r3)
df_enc_r3.head()

,STUDY_ID,VISIT_ID,START_DATE,END_DATE,ENC_TYPE,LOCATION,APPT_STATUS,ADMIT_SOURCE,HOSPITAL_SERVICE,PATIENT_TYPE,PATIENT_CLASS,CHIEF_COMPLAINT,CHIEF_COMPLAINT_ONSET_DATE
0,6999994666,452902438,09/21/2011 00:00:00,NaN,OFFICE VISIT,PIMA GREENTREE,COMPLETED,NaN,NaN,NaN,NaN,NaN,NaN
1,6999994666,450398659,10/10/2011 00:00:00,NaN,OFFICE VISIT,RAVI GI GREENTREE,COMPLETED,NaN,NaN,NaN,NaN,NaN,NaN
2,6999994666,452908020,09/07/2011 00:00:00,NaN,TELEPHONE,PIMA GREENTREE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6999994666,452509743,09/12/2011 00:00:00,NaN,APPOINTMENT,PIMA GREENTREE,CANCELED,NaN,NaN,NaN,NaN,NaN,NaN
4,6999994666,451199413,09/21/2011 00:00:00,NaN,HISTORY,PIMA GREENTREE,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [97]:
print("Encounters before filter: ", df_enc_r3.shape)
dept_list = ['COLON RECTAL DDC HBC', 'GAS HBC OAKLAND DDC PH', 'GASTRO DDC', 'GASTRO IBD MED HOME', 'GI SURG DDC HBC']
df_enc_r3 = df_enc_r3[df_enc_r3['LOCATION'].isin(dept_list)]
print("Encounters after filter: ", df_enc_r3.shape)

Encounters before filter:  (559221, 13)
Encounters after filter:  (12514, 13)

In [98]:
df_enc_r3 = df_enc_r3[['STUDY_ID', 'ENC_TYPE', 'START_DATE', 'LOCATION']]
df_enc_r3.columns = ['AUTO_ID', 'ENCOUNTER_TYPE', 'ENCOUTNER_DATE', 'DEPT_NAME']
df_enc_r3['ICD9_CODE'] = ''
df_enc_r3['ICD10_CODE'] = ''
df_enc_r3['PRIMARY_DX'] = ''

### Registry encounter data

In [99]:
enc_file_registry = 'deid_IBD_Registry_BA1951_Office_Phone_Email_Encs_2020-01-05-09-43-50.xlsx'
df_enc_registry = pd.read_excel(data_path_registry + enc_file_registry)
df_enc_registry.head()

,AUTO_ID,ENC_TYPE_C,ENC_TYPE_NAME,CONTACT_DATE,DEPT_ID,DEPT_NAME,VISIT_PROV_ID,VISIT_PROV_NAME,ICD9_CODE,ICD10_CODE,PRIMARY_DX
0,0,101,Office Visit,2010-10-14 00:00:00,1045102.0,GAS HBC OAKLAND DDC PH,58718,"SCHWARTZ, MARC B",556.9,K51.90,"Ulcerative colitis, unspecified"
1,0,101,Office Visit,2011-04-07 00:00:00,1045102.0,GAS HBC OAKLAND DDC PH,58718,"SCHWARTZ, MARC B",556.9,K51.90,"Ulcerative colitis, unspecified"
2,0,101,Office Visit,2011-07-07 00:00:00,1045102.0,GAS HBC OAKLAND DDC PH,58718,"SCHWARTZ, MARC B",556.9,K51.90,"Ulcerative colitis, unspecified"
3,0,101,Office Visit,2012-01-12 00:00:00,1045102.0,GAS HBC OAKLAND DDC PH,58718,"SCHWARTZ, MARC B",556.9,K51.90,"Ulcerative colitis, unspecified"
4,0,101,Office Visit,2012-07-12 00:00:00,1045102.0,GAS HBC OAKLAND DDC PH,58718,"SCHWARTZ, MARC B",556.9,K51.90,"Ulcerative colitis, unspecified"

In [100]:
print("Encounters before filter: ", df_enc_registry.shape)
df_enc_registry = df_enc_registry[df_enc_registry['DEPT_NAME'].isin(dept_list)]
print("Encounters after filter: ", df_enc_registry.shape)

Encounters before filter:  (375485, 11)
Encounters after filter:  (137227, 11)

In [102]:
df_enc_registry = df_enc_registry[['AUTO_ID', 'ENC_TYPE_NAME', 'CONTACT_DATE', 'DEPT_NAME', 'ICD9_CODE', 'ICD10_CODE', 'PRIMARY_DX']]
df_enc_registry.columns = ['AUTO_ID', 'ENCOUNTER_TYPE', 'ENCOUTNER_DATE', 'DEPT_NAME', 'ICD9_CODE', 'ICD10_CODE', 'PRIMARY_DX']

In [103]:
# Save filtered & merged encounters to Excel
df_enc_master = pd.concat([df_enc_r3, df_enc_registry])
df_enc_master.to_excel(data_path_registry + 'encounters_merged.xlsx')

## Diagnoses Data

### R3 problem list data

In [187]:
prob_file_r3 = 'R3_1646_BINION_PROB_LIST_2020_05_12.csv'
df_prob_r3 = pd.read_csv(data_path_r3 + prob_file_r3)
df_prob_r3.head()

,STUDY_ID,DX_CODE_TYPE,DX_CODE,DX_NAME,REPORTED_DATE,ONSET_DATE,RESOLVED_DATE,RESOLVED_REASON,PROBLEM_STATUS
0,6999994666,ICD9,535.50,Unspecified gastritis and gastroduodenitis wit...,11/15/2011,11/15/2011,NaN,NaN,ACTIVE
1,6999994666,ICD9,578.1,Blood in stool,10/10/2011,10/10/2011,NaN,NaN,ACTIVE
2,6999994666,ICD9,555.2,Regional enteritis of small intestine with lar...,04/04/2012,04/04/2012,NaN,NaN,ACTIVE
3,6999994666,ICD10,H26.9,Cataract,06/20/2016,06/20/2016,NaN,NaN,ACTIVE
4,6999994666,ICD10,H04.129,Dry eye,06/20/2016,06/20/2016,NaN,NaN,ACTIVE

In [188]:
df_prob_r3 = df_prob_r3[['STUDY_ID', 'DX_CODE_TYPE', 'DX_CODE', 'DX_NAME','ONSET_DATE']]
df_prob_r3.columns = ['AUTO_ID', 'DX_CODE_TYPE', 'DX_CODE', 'DX_NAME', 'DX_DATE']

### R3 dx list data

In [189]:
dx_file_r3 = 'R3_1646_BINION_DIAGNOSES_2020_05_12.csv'
df_dx_r3 = pd.read_csv(data_path_r3 + dx_file_r3)
df_dx_r3.head()

,STUDY_ID,VISIT_ID,DIAGNOSIS_TYPE,DX_CODE,DIAGNOSIS_NAME,PRIMARY_DX_IND,DX_FROM_DATE,DX_TO_DATE
0,6999994666,463260127,ICD9CM,790.29,Other abnormal glucose,Y,11/11/2014,NaN
1,6999994666,476176269,ICD9CM,543.9,Other and unspecified diseases of appendix,N,11/05/2014,NaN
2,6999994666,476176269,ICD9CM,455.6,Unspecified hemorrhoids without mention of com...,N,11/05/2014,NaN
3,6999994666,463591352,ICD9CM,V81.1,Screening for hypertension,N,11/07/2014,NaN
4,6999994666,463591352,ICD10CM,V81.1,Occupant of railway train or railway vehicle i...,N,11/07/2014,NaN

In [190]:
df_dx_r3 = df_dx_r3[['STUDY_ID', 'DIAGNOSIS_TYPE', 'DX_CODE', 'DIAGNOSIS_NAME','DX_FROM_DATE']]
df_dx_r3.columns = ['AUTO_ID', 'DX_CODE_TYPE', 'DX_CODE', 'DX_NAME', 'DX_DATE']

### Registry dx data

In [193]:
dx_file_registry = 'deid_IBD_Registry_BA1951_Problem_List_2020-01-05-09-30-19.xls'
df_dx_registry = pd.read_excel(data_path_registry + dx_file_registry)
df_dx_registry.head()

,AUTO_ID,DATE_OF_ENTRY,NOTED_DATE,RESOLVED_DATE,UPDATE_DATE,PROBLEM_DESCRIPTION,ICD9_CODE,ICD10_CODE,DIAGNOSIS_NAME,CLASS_OF_PROBLEM,PROBLEM_TYPE,PROBLEM_STATUS,PRIORITY
0,0,2018-11-14 00:00:00,2009-08-27 00:00:00,NaN,2018-11-14 14:06:00,NaN,715.26,M17.31,Post-traumatic osteoarthritis of right knee,NaN,NaN,ACTIVE,NaN
1,0,2018-11-14 00:00:00,2009-08-27 00:00:00,NaN,2018-11-14 14:06:00,NaN,719.46,M25.569,"Pain in joint, lower leg",NaN,NaN,DELETED,NaN
2,0,2014-04-03 00:00:00,2010-04-07 00:00:00,NaN,2015-07-28 12:14:00,NaN,836.1,S83.289A,"Tear of lateral cartilage or meniscus of knee,...",NaN,NaN,ACTIVE,NaN
3,0,2014-04-03 00:00:00,2010-04-07 00:00:00,NaN,2015-07-28 12:14:00,NaN,727.09,M65.80,Other synovitis and tenosynovitis,NaN,NaN,ACTIVE,NaN
4,0,2014-04-03 00:00:00,2010-11-29 00:00:00,NaN,2015-07-28 12:14:00,NaN,727.05,"M65.849, M65.839",Other tenosynovitis of hand and wrist,NaN,NaN,ACTIVE,NaN

In [194]:
df_dx_registry['DX_CODE_TYPE'] = 'ICD10'
df_dx_registry = df_dx_registry[['AUTO_ID', 'DX_CODE_TYPE', 'ICD10_CODE', 'DIAGNOSIS_NAME', 'DATE_OF_ENTRY']]
df_dx_registry.columns = ['AUTO_ID', 'DX_CODE_TYPE', 'DX_CODE', 'DX_NAME', 'DX_DATE']

In [195]:
# Save filtered & merged diagnosis/problems to Excel
df_dx_master = pd.concat([df_prob_r3, df_dx_r3, df_dx_registry])
df_dx_master.to_excel(data_path_registry + 'problem_list_merged.xlsx')

## Procedures List

* MR CHOLANGIOPANCREATOGRAPHY (MRCP)
* CT ABD AND PELVIS WITH/ WITHOUT CONTRAST (SAME DATE ER)
* CT ABD WITH/ WITHOUT CONTRAST (SAME DATE ER)
* CT PELVIS WITH/ WITHOUT CONTRAST (SAME DATE ER)
* CT ABDOMEN AND PELVIS WITH AND WITHOUT CONTRAST 
* CT ABDOMEN WITH AND WITHOUT CONTRAST

### R3 procedures data

In [133]:

proc_file_r3 = 'R3_1646_BINION_PROCS_2020_05_12.csv'
proc_r3 = pd.read_csv(data_path_r3 + proc_file_r3)
proc_r3.head()

,STUDY_ID,VISIT_ID,ORDER_PROC_ID,PROC_DATE,PROC_CODE,PROC_TYPE,PROC_NAME,PROC_LOCATION,ORDER_DATE
0,6999994666,4.529024e+08,74962671.0,NaN,71260,CUSTOM,CT CHEST WITH CONTRAST,NaN,09/21/2011
1,6999994666,4.529024e+08,74962676.0,NaN,74160,CPT(R),CT ABDOMEN WITH CONTRAST,NaN,10/01/2011
2,6999994666,4.503987e+08,74962677.0,NaN,43235,CPT(R),"UPPER GI ENDOSCOPY,DIAGNOSIS",NaN,10/10/2011
3,6999994666,5.210964e+12,NaN,02/06/2018,29823,CPT/HCPCS,"Arthroscopy, shoulder, surgical; debridement, ...",OR,NaN
4,6999994666,5.210964e+12,NaN,02/06/2018,29827,CPT/HCPCS,"Arthroscopy, shoulder, surgical; with rotator ...",OR,NaN

In [134]:
'''
proc_list = ['MR CHOLANGIOPANCREATOGRAPHY (MRCP)',
'CT ABD AND PELVIS WITH/ WITHOUT CONTRAST (SAME DATE ER)',
'CT ABD WITH/ WITHOUT CONTRAST (SAME DATE ER)',
'CT PELVIS WITH/ WITHOUT CONTRAST (SAME DATE ER)',
'CT ABDOMEN AND PELVIS WITH AND WITHOUT CONTRAST',
'CT ABDOMEN WITH AND WITHOUT CONTRAST']
'''

proc_list = ['MR CHOLANG', 'CT ABD', 'CT PELVIS', 'CT ABDOMEN']
print("Procedures before filter: ", proc_r3.shape)
#proc_r3 = proc_r3[proc_r3['PROC_NAME'].isin(proc_list)]
temp = pd.DataFrame()
for item in proc_list:
    temp = pd.concat([temp, proc_r3[proc_r3['PROC_NAME'].str.contains(item, na=False)]])
print("Procedures after filter: ", temp.shape)
proc_r3 = temp

Procedures before filter:  (161265, 9)
Procedures after filter:  (12224, 9)

In [135]:
proc_r3.columns

Index(['STUDY_ID', 'VISIT_ID', 'ORDER_PROC_ID', 'PROC_DATE', 'PROC_CODE',
       'PROC_TYPE', 'PROC_NAME', 'PROC_LOCATION', 'ORDER_DATE'],
      dtype='object')

In [136]:
proc_r3 = proc_r3[['STUDY_ID', 'PROC_CODE',  'PROC_NAME', 'ORDER_DATE', 'PROC_DATE']]
proc_r3.columns = ['AUTO_ID', 'PROC_CODE',  'PROC_NAME', 'ORDER_DATE', 'PROC_DATE']

### Registry Procedure Data

In [137]:
proc_file_registry = 'deid_IBD_Registry_BA1951_Rad_Diagnostic_Tests_2020-01-05-12-18-06.xlsx'
proc_registry = pd.read_excel(data_path_registry + proc_file_registry)
proc_registry.head()

,AUTO_ID,VISIT DEPT,VISIT_DATE,ORDERING_DATE,CPT_CODE,DESCRIPTION,QUANTITY,PROC_START_DATE,PAT_STATUS,PROC_CAT_NAME,ORDER_TYPE,ORDER_CLASS,ORDER_STATUS,UPDATE_DATE,AUTH_PROV_NAME,RESULT_DATE,REVIEW_DATE,CENTER,STUDY_RESULT
0,2,NaN,2009-07-23 00:00:00,2009-07-23 00:00:00,7699905,GI ENDOSCOPIC PROCEDURE,1,NaN,Alive,PROCEDURES,GI PROCEDURES,NaN,Completed,2015-11-17 15:34:00,"BELLICINI, NICHOLAS A",2009-09-03 15:27:00,NaN,NaN,NaN
1,2,NaN,2010-03-17 00:00:00,2010-03-17 00:00:00,7699905,GI ENDOSCOPIC PROCEDURE,1,NaN,Alive,PROCEDURES,GI PROCEDURES,NaN,Completed,2015-11-25 11:25:00,"GLORIOSO, DAVID V",2010-03-17 09:52:00,NaN,NaN,NaN
2,95,NaN,2009-10-05 00:00:00,2009-10-05 00:00:00,7699905,GI ENDOSCOPIC PROCEDURE,1,NaN,Alive,PROCEDURES,GI PROCEDURES,NaN,Completed,2015-11-19 15:29:00,"LIMAURO, DAVID L",2009-10-05 14:54:00,NaN,NaN,NaN
3,108,NaN,2010-02-02 00:00:00,2010-02-02 00:00:00,93005,"ELECTROCARDIOGRAM, TRACING",1,NaN,Alive,MEDICINE,EKG,NaN,Completed,2015-11-24 09:19:00,"HANDELSMAN, GORDON L",2010-02-02 07:45:00,NaN,NaN,NaN
4,123,NaN,2009-04-28 00:00:00,2009-04-28 00:00:00,93005,"ELECTROCARDIOGRAM, TRACING",1,NaN,Alive,MEDICINE,EKG,NaN,Completed,2015-11-13 12:54:00,"JACOBS, RICHARD P",2009-04-28 22:55:00,NaN,NaN,NaN

In [138]:
proc_registry.columns

Index(['AUTO_ID', 'VISIT DEPT', 'VISIT_DATE', 'ORDERING_DATE', 'CPT_CODE',
       'DESCRIPTION', 'QUANTITY', 'PROC_START_DATE', 'PAT_STATUS',
       'PROC_CAT_NAME', 'ORDER_TYPE', 'ORDER_CLASS', 'ORDER_STATUS',
       'UPDATE_DATE', 'AUTH_PROV_NAME', 'RESULT_DATE', 'REVIEW_DATE', 'CENTER',
       'STUDY_RESULT'],
      dtype='object')

In [139]:
print("Procedures before filter: ", proc_registry.shape)
#proc_registry = proc_registry[proc_registry['DESCRIPTION'].isin(proc_list)]
temp = pd.DataFrame()
for item in proc_list:
    temp = pd.concat([temp, proc_registry[proc_registry['DESCRIPTION'].str.contains(item, na=False)]])
print("Procedures after filter: ", temp.shape)
proc_registry = temp

Procedures before filter:  (342232, 19)
Procedures after filter:  (27369, 19)

In [140]:
proc_registry = proc_registry[['AUTO_ID', 'CPT_CODE', 'DESCRIPTION', 'VISIT_DATE', 'PROC_START_DATE']]
proc_registry.columns = ['AUTO_ID', 'PROC_CODE',  'PROC_NAME', 'ORDER_DATE', 'PROC_DATE']

In [141]:
# Save filtered & merged procedures/diagnostic tests to Excel
proc_master = pd.concat([proc_r3, proc_registry])
proc_master.to_excel(data_path_registry + 'proc_merged.xlsx')

## Registry Hosp, ER, ED data

__Rules for identifying hospitalizations and ER visits__
* Number of overall number of discharge reports minus the number of ER visits on the same day
* One discharge summary per patient per day

In [148]:
discharge_file_registry = 'deid_IBD_Registry_BA1951_ER_OP_DC_Reports_2020-01-05-09-11-16.xls'
discharge_registry = pd.read_excel(data_path_registry + discharge_file_registry)
discharge_registry.head()

,AUTO_ID,ENC_TYPE_C,ENC_TYPE_NAME,CONTACT_DATE,DEPT_ID,DEPT_NAME
0,0,203,OP Report,2010-01-06 00:00:00,NaN,NaN
1,0,203,OP Report,2010-04-07 00:00:00,11116101.0,XBEDFORD ORTHO
2,0,203,OP Report,2010-08-04 00:00:00,NaN,NaN
3,0,203,OP Report,2018-04-20 00:00:00,9999.0,EXTERNAL DEPARTMENT
4,1,203,OP Report,2009-03-19 00:00:00,9999.0,EXTERNAL DEPARTMENT

In [149]:
discharge_registry['ENC_TYPE_NAME'].value_counts()

ER Report            23871
Discharge Summary    12492
OP Report             8576
Name: ENC_TYPE_NAME, dtype: int64

In [183]:
df = discharge_registry.groupby(['AUTO_ID','CONTACT_DATE']).size().reset_index().rename(columns={0:'count'})
df['ER'] = 0
df['DS'] = 0
df['OP'] = 0
for idx, row in df.iterrows():
    q = 'AUTO_ID == ' + str(row['AUTO_ID']) + ' and CONTACT_DATE == "' + row['CONTACT_DATE'] + '"'
    #print(q)
    temp = discharge_registry.query(q)
    enc_type_counts = temp['ENC_TYPE_NAME'].value_counts().to_dict()
    if 'OP Report' in enc_type_counts.keys():
        df.at[idx, 'OP'] = enc_type_counts['OP Report']
    if 'Discharge Summary' in enc_type_counts.keys():
        df.at[idx, 'DS'] = enc_type_counts['Discharge Summary']
    if 'ER Report' in enc_type_counts.keys():
        df.at[idx, 'ER'] = enc_type_counts['ER Report']
    #break
#temp.head()

In [212]:
df['HOSP'] = 0
df['ER_VISITS'] = 0
df.head()

   AUTO_ID         CONTACT_DATE  count  ER  DS  OP  HOSP  ER_VISITS
0        0  2010-01-06 00:00:00      1   0   0   1     0          0
1        0  2010-04-07 00:00:00      1   0   0   1     0          0
2        0  2010-08-04 00:00:00      1   0   0   1     0          0
3        0  2018-04-20 00:00:00      1   0   0   1     0          0
4        1  2009-03-17 00:00:00      1   1   0   0     0          0

In [214]:
for idx, row in df.iterrows():
    hosp = row['DS'] - row['ER']
    er = 0
    if hosp < 0:
        hosp = 0
    if row['ER'] != 0:
        er = 1
    #print(row['AUTO_ID'], ' : ', hosp)
    df.at[idx, 'HOSP'] = hosp
    df.at[idx, 'ER_VISITS'] = er

In [215]:
df.to_excel(data_path_registry + 'discharge_summaries_pivot_counts.xlsx')

## Surgeries

* BOWEL TO BOWEL ANASTOMOSIS
* CLOSURE, ENTEROSTOMY, LARGE/SMALL INTESTINE; W/ RESECTION & ASTOMOSIS, NON-COLORECTAL
* CLOSURE, ENTEROSTOMY, LARGE/SMALL INTESTINE; W/ RESECTION & COLORECTAL ASTOMOSIS
* CLOSURE, ENTEROVESICAL FISTULA; W/ INTESTINE &/OR BLADDER RESECTION
* COLECTOMY, PARTIAL; W/ RESECTION, W/ COLOSTOMY/ILEOSTOMY & CREATION, MUCOFISTULA
* COLONOSCOPE DILATE STRICTURE
* COLONOSCOPY FLEXIBLE DILATE STRICTURE
* DILATION RECTAL STRICTURE W ANEST
* DILATION, RECTAL STRICTURE (SEP PROC) UNDER ESTHESIA OTHER TH LOCAL
* DRAIN ABD ABSCESS
* DRAIN ABSCESS, PERCUTANEOUS
* DRAIN PELV ABSC,PERCUT XVAG/XRECTAL
* DRAIN RETROPERITONEAL ABSCESS
* DRAIN RETROPERITONEAL ABSCESS,PERCUT
* ENTERECTOMY, RESECTION, SMALL INTESTINE; SINGLE RESECTION & ASTOMOSIS
* ENTERECTOMY, RESECTION, SMALL INTESTINE; W/ ENTEROSTOMY
* EXCIS RECTAL STRICTURE
* LAPAROSCOPY, SURGICAL; ENTERECTOMY, INTESTINAL RESECTION & ASTOMOSIS
* PART REMOVAL COLON W ANASTOMOSIS
* PROCTECTOMY; PARTIAL RESECTION, RECTUM, TRSABDOMINAL APPROACH
* REPAIR ANAL STRICTURE,ADULT
* REVISE GASTROJEJUN ANASTOMOSIS
* INTESTINAL STRICTUROPLASTY
* LAPARO, RESECT INTESTINE
* RESECT SMALL INTEST,SINGL RESEC/ANAS
* RESECT SMALL INTEST,EACH ADDNL
* RESECT SMALL INTEST W ENTEROSTOMY
* CLOSURE, ENTEROSTOMY, LARGE/SMALL INTESTINE;
* LAP RESECT S/INTESTINE, ADDL
* ENTEROENTEROSTOMY, ASTOMOSIS, INTESTINE, (SEP PROC)
* INTESTINAL STRICTUROPLASTY W/WO DILATION
* CLOSURE, INTESTINAL CUTEOUS FISTULA

In [226]:
# Surgery data from IBD Registry
ibd_surg_file = 'D:\\Projects\\ibd_data\\Procedure Data\\CASES_FROM_IBD_REGISTRY\\R3_2323_BINION_CASES_POP1_PROFEE_PROCS_2020_05_29.xlsx'
surg_df = pd.read_excel(ibd_surg_file)
surg_df.head()

,EPIC_MRN,ORIG_SERVICE_DATE,DX_1_ICD9_LIST,DX_1_ICD10_LIST,DX_2_ICD9_LIST,DX_2_ICD10_LIST,DX_3_ICD9_LIST,DX_3_ICD10_LIST,DX_4_ICD9_LIST,DX_4_ICD10_LIST,...,MODIFIER_NAME_3,MODIFIER_FOUR,MODIFIER_NAME_4,PROC_NAME,TYPE_OF_SERVICE,PROC_GROUP_NAME,POS_ID,POS_NAME,DEPT_ID,DEPARTMENT_NAME
0,842002890,2012-06-12,V58.61,Z79.01,453.4,I82.409,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,INR WITHIN SUBSEQUENT 90 DAYS,60-MEDICAL CARE MA,NaN,11146,RENAISSANCE FAM PRAC PENN HILLS,11146001,RFP PENN HILLS
1,843496532,2012-03-30,453.89,I82.890,V58.61,Z79.01,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,INR WITHIN SUBSEQUENT 90 DAYS,60-MEDICAL CARE MA,NaN,11122,GREENVILLE MEDICAL CENTER - UPMC,11122001,GMC INTERNAL MED
2,843496532,2012-02-20,453.89,I82.890,V58.61,Z79.01,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,INR WITHIN SUBSEQUENT 90 DAYS,60-MEDICAL CARE MA,NaN,11122,GREENVILLE MEDICAL CENTER - UPMC,11122001,GMC INTERNAL MED
3,843496532,2012-03-23,453.89,I82.890,V58.61,Z79.01,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,INR WITHIN SUBSEQUENT 90 DAYS,60-MEDICAL CARE MA,NaN,11122,GREENVILLE MEDICAL CENTER - UPMC,11122001,GMC INTERNAL MED
4,842002890,2012-05-04,V58.61,Z79.01,453.4,I82.409,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,INR WITHIN SUBSEQUENT 90 DAYS,60-MEDICAL CARE MA,NaN,11146,RENAISSANCE FAM PRAC PENN HILLS,11146001,RFP PENN HILLS

## Create temporal windows

In [197]:
meds = pd.read_excel(data_path_registry + 'meds_merged.xlsx')
meds.head()

,AUTO_ID,ORDER_ID,MED_NAME,SIMPLE_GENERIC_NAME,ORDERING_DATE,START_DATE,END_DATE,PHARM_CLASS,GROUP
43,6999994666,146936455,HYDROCORTISONE 2.5 % TOPICAL CREAM WITH PERINE...,HYDROCORTISONE,11/06/2013,11/06/2013,08/31/2015,TOPICAL ANTI-INFLAMMATORY STEROIDAL,NaN
94,6999995122,103919145,HYDROCORTISONE SODIUM SUCCINATE 100 MG SOLUTIO...,HYDROCORTISONE SOD SUCCINATE,08/31/2012,08/31/2012,08/31/2012,GLUCOCORTICOIDS,NaN
103,6999995122,109733784,HYDROCORTISONE SODIUM SUCCINATE 100 MG SOLUTIO...,HYDROCORTISONE SOD SUCCINATE,10/30/2012,10/30/2012,10/30/2012,GLUCOCORTICOIDS,NaN
106,6999995122,412736751,"CHOLECALCIFEROL (VITAMIN D3) 25 MCG (1,000 UNI...",CHOLECALCIFEROL (VITAMIN D3),06/26/2019,06/26/2019,NaN,VITAMIN D PREPARATIONS,NaN
113,6999995122,379090751,PREDNISONE 20 MG TABLET,PREDNISONE,03/06/2019,01/04/2019,03/06/2019,GLUCOCORTICOIDS,NaN

In [199]:
meds.shape

(88402, 9)

In [210]:
med_min = meds.groupby('AUTO_ID')['ORDERING_DATE'].min().reset_index()
med_max = meds.groupby('AUTO_ID')['ORDERING_DATE'].max().reset_index()
med_min_max = pd.merge(med_min, med_max, how='inner', on='AUTO_ID')
med_min_max.columns = ['AUTO_ID', 'MIN_DATE', 'MAX_DATE']
med_min_max.head()

   AUTO_ID             MIN_DATE             MAX_DATE
0        0  2010-08-12 00:00:00  2019-11-13 00:00:00
1        1  2009-03-27 00:00:00  2019-12-23 00:00:00
2        2  2010-07-29 00:00:00  2019-03-13 00:00:00
3        3  2012-10-04 00:00:00  2019-02-27 00:00:00
4        4  2015-03-05 00:00:00  2019-09-04 00:00:00